* {
  box-sizing: border-box;

}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  position: absolute;
  top: 3% !important;
  left: 10% !important;
}

.home-icon {
  border-radius: 50%;
  padding: 20px;
  color: #313131;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.home-icon:hover {
  background: #313131;
  color: #f2f2f2;
}

@media screen and (max-width: 1090px) {
  .home {
    top: 1% !important;
  }
}

@media screen and (max-width: 600px) {
  .home {
    top: 0% !important;
  }
}